.de-menu li li {    font-family:Lato;}

.de-menu li li {    font-size: 16px}

a.btn,a.btn-custom{
background:#006826 !important;}

span.overlay{background-color:#006826;}

.de-menu {
text-transform: none !important;
}


.info ul li {
margin-bottom: 0 !important;
margin-left: 10px;
}

#footer .social-icon-footer img {
    height: auto;
    margin: 2px 0px 0px 5px;
    padding: 0px;
    max-width: 100px;
    width: auto;
}

#footer .social-icon-footer img#facebook-icon,
#footer .social-icon-footer img#instagram-icon {
height: 31px !important;
max-width: auto !important;
width: auto !important;
}

/*.pp_description {
display: block !important;
}*/

/*a#snc-credit {
  text-decoration: none;
  color: #888;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px; }
  a#snc-credit span {
    text-decoration: underline; }
  a#snc-credit:hover {
    color: #000;
    text-decoration: underline; }*/
