.lang-switch {
	float:right;
	margin-right:30px;
	margin-top:42px;
}

#qtranslate-chooser li{
	list-style:none;
	display:inline-block;
	margin-left:3px;
}

#qtranslate-chooser li span{
	display:none;
}


#mqtranslate-chooser li{
	list-style:none;
	display:inline-block;
	margin-left:3px;
}

#mqtranslate-chooser li span{
	display:none;
}

#wpml-selector{
	float:right;
	margin-top:40px;
}

#wpml-selector #lang_sel li a{
	list-style:none;
	text-align:left;
	background:url(../images/dotblack40.png);
	border:none;
	color:#fff;
	margin:0;
	margin-top:-1px;
}

#wpml-selector #lang_sel li img{
	margin-top:-5px;
}

#wpml-selector #lang_sel ul ul{
	border:none;
}

#wpml-selector #lang_sel ul li ul li a{
	margin-bottom:1px;
}




.sidebar{ position:absolute;}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.sidebar{ position:inherit;}
}

@media only screen and (max-width: 479px) {
.sidebar{ position:inherit;}
}

@media only screen and (max-width: 767px) {
.lang-switch{
	float:none;
	display:block;
	margin-top:30px;
	margin-bottom:0;
}
#wpml-selector #lang_sel{
	display:inline-block;
}
#wpml-selector ul{
	float:none;
}
}
